body {
  background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F607%2F620%2Foriginal%2Flarge-amusement-park-scene-vector.jpg&f=1&nofb=1&ipt=2665aeef6a75debb925cc38d689703e1c38f97eb83ca23316edb2f8046bd489d&ipo=images');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

.home {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.themeParks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 70vw;
  height: 60vh;
  margin: 40vh 2vw;  
}

.parks {
  margin: 2vh 2vw;
  background-color: rgba(108, 205, 244, 0.9);
  border: 2px solid rgb(241, 175, 175);
  border-radius: 20px;
  transition: .20s;
  padding: 2vh 2vw;
  min-width: 20vw;
  min-height: 20vh;
}

.themeTitle {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.parkLinks {
  text-decoration: none;
}

.parkName {
  text-align: center;
}

.park-img {
  width: 20vw;
  height: 25vh;
  border-radius: 12px;
  object-fit: cover;
}

header {
  background-color: #141265;
  height: 7vh;
}

.logoTitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200vw;
  max-height: 20vh;
}

.trillTrack {
  margin: 0 1vw;
  color: beige;
}

.homeAbout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200vw;
  max-height: 20vh;
  font-size: 20px;
}

.homeAbout a {
  padding: 1vh 1vw;
  color: beige;
  font-weight: 600;
  text-decoration: none;
}

.logoImage:hover {
  transform: scale(1.06);
}

.logoImage:hover~.logoImage {
  transform: translateY(10px);
}

.homeNav:hover {
  transform: scale(1.10);
}

.homeNav:hover~.homeNav {
  transform: translateY(10px);
}

.aboutNav:hover {
  transform: scale(1.10);
}

.aboutNav:hover~.aboutNav {
  transform: translateY(10px);
}

.showReview {
  background-color: rgb(108, 205, 244);
  text-align: center;
  height: 40vh;
  width: 30vh;
  border-radius: 20px;
  border: 3px dotted rgb(241, 175, 175);
  padding: 20px;
  color: white;
  margin: 3vh 3vw;
  overflow-y: auto;
}

.showReviewList {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.showReviewButton {
  text-align: center;
  margin-bottom: 20vh 20vw; 
}

.addReview-btn {
  display: inline-block;
  background-color: rgb(81, 165, 176);
  padding: 20px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer; 
  margin: 5px; 
}

.deleteComment-btn {
  display: inline-block;
  text-align: center;
  background-color: #fa6b04;
  padding: 10px;
  width: 100px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  filter: brightness(150%);
  transition: 0.6s;
  transform: scale(1.06);
}

form {
  background-color: rgb(108, 205, 244);
  text-align: center;
  height: 30vh;
  width: 30vh;
  border-radius: 20px;
  border: 3px dotted rgb(241, 175, 175);
  padding: 10vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 30vh;
  margin-top: 10vh;
} 

.formSubmit-btn {
 display: inline-block;
  text-align: center;
  background-color: #fa6b04;
  padding: 2vh;
  width: 20vh;
  color: #ffffff;
  text-align: center;
  border: 1vh double #cccccc;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  margin: 5px;
}

.form {
  transform: scale(1.06);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  width: 70vw;
  height: 50vh;
  margin: 13vh;
  opacity: 0.9;
  border-radius: 20px;
  transition: .20s; 
}

.form:hover {
  transform: scale(1.06);
}

.form:hover~.form:hover {
  transform: scale(1.06);
}

.reviewContainer:hover {
  transform: scale(1.06);
} 

.reviewContainer:hover~.reviewContainer {
  transform: translateY(30px);
} 

.formBox{
display: flex;
justify-content: center;
}

.details-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.details-contain {
  padding: 2vh 2vw;
  margin: 10vh;
  background-color: rgba(108, 205, 244, 0.9);
  border: 2px solid rgb(241, 175, 175);
  overflow-y: auto;
  max-width: 60vw;
  max-height: 80vh;
  border-radius: 20px;
  transition: .20s;
}

.details-contain:hover {
  transform: scale(1.06);
}

.details-contain:hover~.details-contain {
  transform: translateY(30px);
}

.themeImage {
  border: 2px solid rgb(241, 175, 175);
  border-radius: 5px;
  transition: .20s;
}

.themeImage:hover {
  transform: scale(1.7);
}

.themeImage:hover~.themeImage {
  transform: translateY(30px);
}

.details {
  font-size: 35px;
}

.detailsInfo {
  font-size: 20px;
  font-weight: bold;
}

.rating {
  font-style: italic;
}

.link {
  text-decoration: none;
  font-size: 18px;
}

.linkContainer:hover {
  transform: scale(1.2);
}

.linkContainer:hover~.linkContainer {
  transform: translateY(30px);
}

.about {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 27vh;
}

.about-container {
  padding: 2vh 2vw;
  max-width: 30vw;
  max-height: 50vh;
  overflow-y: auto;
  background-color: rgba(108, 205, 244, 0.9);
  border: 2px solid rgb(241, 175, 175);
  border-radius: 20px;
  transition: .20s;
}

.about-container:hover {
  transform: scale(1.06);
}

.about-container:hover~.about-container {
  transform: translateY(30px);
}

.quote {
  font-style: italic;
}

.about-description {
  font-weight: 600;
}

.logoHomeAbout {
  display: flex;
  padding: 1vh 1vw;
  justify-content: space-between;
  align-items: center;
}

.logoImage {
  width: 4vw;
  height: 5vh;
  border: 1px solid rgb(241, 175, 175);
  border-radius: 5px;
}